[dir=rtl] #popover-basic .arrow:after{
    border-right-color: white!important;
}
[dir=rtl] #popover-basic .arrow:before{
    border-right-color: white!important;
}
[dir=rtl].more-func-name{
    width: 100%;
    height: 30px;
    background-color: transparent;
    box-shadow: unset;
    border: none;
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.45px;
    text-align: right;
}