[dir=rtl] .nova-info-patients-status-container{
    margin-left: calc(100% - 1100px)!important;
    margin-bottom: 10px;
}
[dir=rtl] .nova-info-devices-status-container{
    margin-bottom: 10px;
    right: 0;
    float: right;
}
[dir=rtl] .nova-info-label{
    font-family: OpenSan, sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: right;
    color: #0575e6;
}
[dir=rtl] .single-nova-info-block{
    height: 150px;
    width: 200px;
    background-color: #f9f9f9;
    display: inline-block;
    border-radius: 10px;
    position: relative!important;
    margin-left: 20px;
    float: right;
}
[dir=rtl] .single-nova-info-block-value{
    font-family: OpenSan, sans-serif;
    font-size: 55px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    position: relative!important;
    width: 100%;
    float: right;
    margin-top: 35px;
    color: #0575e6;
}
[dir=rtl] .single-nova-info-block-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    position: relative!important;
    width: 100%;
    float: right;
}
