.devicesBarBox{
    margin-top: 50px;
    width: 100%;
    float: left;

}
.AdminTitleFont{
    border-bottom: 20px;

    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /*display: flex;*/
    align-items: center;
    cursor: pointer;
    display: block;

}
.deviceBarFont{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}

.deviceBarSmallFont{
    /*margin-top: 40px;*/
    /*margin-bottom: 10px;*/
    /*text-align: center;*/
    font-family: OpenSan, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}
.deviceBarInsideFont{
    /*margin-top: 40px;*/
    margin-bottom: 10px;
    /*text-align: center;*/
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    /*font-weight: bold;*/
    font-stretch: normal;
    font-style: normal;
    color: #0575e6;
}
.patientsFormBoxes{
    /*object-fit: contain;*/
    width: 100%;
    /*border: 2px solid rgba(157,157,157,0.38);*/
    margin-top: 5px;
    /*margin-bottom: 50px;*/
    /*padding: 20px;*/
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: 300;
    float: left;
    display: flex;

}

.adminInputSlots2{
    height: 60px;
    width: 210px;
    margin-right: 20px;
    margin-bottom: 20px;
    /*float: left;*/
    display: inline-block;
}
.DevicesBarButton{
    float: right;
    height: 35px;
    width: 140px;
    padding: 2px;
    border: 1px solid #929590;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px;
    border-radius: 2px;
    background-color: #0575e6;

}
