.clinicalDashboard{
    display: flex;
    position: relative!important;
}
[dir=ltr] .clinical-container{
position: relative!important;
    width: 100%;
}
[dir=ltr] .clinical-inner-container {
    display: inline-grid;
    height: max-content;
    position: relative!important;
    margin-right: 20px;
}

.clinical-info-container-right{
    display: inline-grid;
    height: max-content;
    position: relative !important;
    /*padding-left: 20px;*/
    /*border-left: 2px solid rgba(157,157,157,0.38)*/
}

.clinical-info-devices-status-info{
    display: flex;
    width: 100%;

}

[dir=ltr] .single-clinical-info-block{
    height: 110px;
    width: 185px;
    background-color:white;
    display: inline-block;
    border-radius: 5px;
    position: relative!important;
    margin-right: 12px;
    float: left;
    border: 2px solid rgba(157,157,157,0.38);
}
.single-clinical-info-block-middle{
    height: 110px;
    width: 0px;
    display: inline-block;
    position: relative !important;
    float: left;
    margin-left: 10px;

    border-left: 2px solid rgba(157, 157, 157, 0.38);

    margin-right: 1px;

}
/*.single-nova-info-block:nth-last-child(n+2){*/
/*    margin-right: 12px;*/
/*}*/

/*.left-nova-info-block{*/
/*    height: 110px;*/
/*    width: 510px;*/
/*    display: inline-block;*/
/*    border-radius: 5px;*/
/*    position: relative!important;*/
/*    margin-right: 12px;*/
/*    float: left;*/
/*    border-left: 2px solid rgba(157,157,157,0.38);*/
/*}*/


.single-clinical-info-block:hover{
    border: 2px solid rgba(157,157,157,0.8);
    cursor: pointer;
}
/*.single-nova-info-block-value:hover{*/
/*    opacity: 0.7;*/
/*    cursor: pointer;*/
/*}*/
/*.single-nova-info-block-label:hover{*/
/*    opacity: 0.7;*/
/*    cursor: pointer;*/
/*}*/
.single-clinical-info-block-value{
    font-family: OpenSan, sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    position: relative!important;
    width: 100%;
    float: left;
    margin-top: 18px;
    color: rgba(95,95,95,0.69);
}
.single-clinical-info-block-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.2px;
    text-align: center;
    position: relative!important;
    width: 100%;
    float: left;
}
.nova-input {
    height: 30px;
    width: 200px;
    object-fit: contain;
    border: none;
    margin-left: 0px;
    background-color: var(--white);
    padding-left: 10px;
    padding-right: 36px;
    outline: none;
}
