.mainDashboard {
    width: 1920px;
    height: 61px;
    padding: 13px 85px 0 84px;
    object-fit: contain;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.08);
    background-color: #0c3646;
    color: white;
}

.adminDashboard {
    background-color: #c3c3c3;
    height: 65px;
    width: 100%;
    top: 0;
}

.dashboardFonts {

}

.totalBackground{
    height: 130%;
    width: 100%;
    background-color: white;
}
.main-box{
    box-shadow: 0px 8px rgba(130,130,130,0.06);
}
.PatientDashboardBox {
    background-color: white;
    width: 100%;
    position: center;
    justify-content: space-around;
    display: flex;
    height: max-content;
}
.PatientDashboardBox2 {
    background-color: white;
    width: 20%;
    /*left: 100px;*/
    height: 100%;
    border-left: 1px solid rgba(157,157,157,0.38);
    padding-left: 15px;

}
.PatientDashboardBox3 {
    background-color: white;
    width: 20%;
    /*left: 100px;*/
    height: 100%;
    padding-left: 15px;
}

.boxes {
    background-color: white;
    width: 100%;
    min-height: 550px;
    height: max-content;
    /*border: 2px solid rgba(157,157,157,0.38);*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxes::after {
    background-color: white;
    width: 100%;
    height: 800px;
    border: 2px solid rgba(157,157,157,0.38);
    margin-top: 20px;
}

.clinicalBoxes {
    background-color: white;
    width: 100%;
    height: 70px;
    position: relative;
    border: 2px solid rgba(157,157,157,0.38);
}
.adminMargin{
    margin-left: 84px;
    margin-right: 04px;
}
[dir=ltr] .leftMargin{
    margin-right: 130px;
    margin-left: 30px;

}
[dir=ltr] .button5 {
    right: 1px;
    margin-left: 80%;
    background-color: white;
    color: #4f4f4f;
    border: 2px solid gray;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    height: 30px;
}
.buttonMargin{
    margin-left: 90%;
    margin-top: 0px ;
    margin-bottom: 10px;

}
.dropDownButtonMargin {
    margin-bottom: 10px;
    color: #4f4f4f;
}

.asayaContainer{
    margin-top: 20px;
    width: 100%;
    min-height: 270px;
    height: max-content;
    -webkit-background-size: contain, cover;;
    -moz-background-size: contain, cover;;
    -o-background-size: contain, cover;;
    background-size: contain, cover;;
    background-color: white;
    border: 2px solid rgba(157,157,157,0.38);
}

[dir=ltr]  .button6 {
    margin-bottom: 30px;
    background-color: grey;
    left: 43%;
    color: white;
    font-weight: bold;
    border: 2px solid;
    text-align: center;
    border-radius: 5px;
    width: 180px;
    height: 35px;

}
.asayaInnerContainer{
    height: 78%;
    width: 100%;
    display: inline-block;

}
.asayaTwoLeftContainers{
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: top;
    height: 75%;
    width: 50%;
    display: inline-block;

}
.asayaTwoRightContainers{
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: top;
    height: 75%;
    width: 50%;
    display: inline-block;
    border-left: 2px solid rgba(157,157,157,0.38);
}
.asayaTextContainer{
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
}

.backgroundDashboard{
    background-color: rgba(168,168,168,0.6);
    height: 75px;
}
.iconSize{
    height: 6px;
    width: 6px;
}
.patientBox{
    width: 100%;
    height: 70px;
    border-bottom: 20px;
    position: relative;

}
.firstPatientBox{
    width: 100%;
    height: 110px;
    position: relative;

}
.allPatientBox{
    width: 100%;
    height: 100px;
    border-bottom: 20px;
    position: relative;
    display: inline-block;
}
.addPatientBoxTitleFilter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    margin-bottom: 50px;
    /*margin-left: 15px;*/

    /*font-weight: 500;*/
    /*font-size: 24px;*/
    /*text-align: left;*/
    /*font-family: OpenSan, sans-serif;*/
    /*letter-spacing: 0.35;*/
}

[dir=ltr] .buttonBox{
    width: 100%;
    height: 40px;
    margin-left: 43%;
    margin-bottom: 20px;
}
.leftDashboardMargin{
    margin-left: 80px;
}
.topAllPatientArea{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 15px;
    /*margin-left: 10px;*/

}
.searchBox{
    height: 50px;
    width: 120px;
    border-left: 2px solid rgba(157,157,157,0.38);
    background-color: white;
}

.search-wrapper2 {
    height: 30px;
    width: 20px;
    object-fit: contain;
    border: none;
    margin-left: 300px;
    background-color: white;
    padding-left: 8px;
    padding-right: 15px;
    outline: none;

}
.all-patients-search-wrapper {
    border: 2px solid rgba(157,157,157,0.68);
    height: 35px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    border-radius: 5px;


}
.all-patients-search {
    height: 30px;
    width: 700px;
    background-color:  white;
    object-fit: contain;
    border: none;
    /*border-bottom: 2px solid rgba(111,111,111,0.6);*/
    outline: none;
}

.patientsButtonDashboard{
    height: 35px;
    width: 200px;
    margin-left: 15px;
    background-color: gray;
    color: white;
    border-radius: 3px;
}
.patientsTabsButton{
    height: 35px;
    width: 150px;
    margin-left: 15px;
    background-color: gray;
    color: white;
    border-radius: 1px;
}
.prescriptionTabsButton{
    height: 35px;
    width: 150px;
    margin-left: 15px;
    background-color: white;
    color: gray;
    border-radius: 1px;
}

.bottomBorder{
    /*border-bottom: 2px solid rgba(111,111,111,0.6);*/
    height: 35px;
    margin-right: 10px;

}
.noBorders{
    border: none;
    background-color: white;

}
.myDropDownButton{
    background-color: white!important;
    font-weight: 500!important;
    color: black!important;
    border: unset!important;
    border-bottom: 1px solid rgba(111,111,111,0.6) !important;
    border-radius: 0px!important;
    outline: unset!important;
    box-shadow: unset!important;
}
.PatientDashboardBox-item{
    width: max-content;
    display: inline-flex;
}
.dropdown-container{
    margin-top: 6.5px;
}
.filterFont{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: rgba(39,39,39,0.78);
}
.patientssFont{
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;
}
[dir=ltr] .asayaTitle {
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    font-family: OpenSan, sans-serif;
    letter-spacing: 0.35;
    margin-bottom: 10px;
}

[dir=ltr] .asayaContent {
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    font-family: OpenSan, sans-serif;
    letter-spacing: 0.35;
    margin-bottom: 10px;
    line-height: 1.2;
}

[dir=ltr] .asayaDate{
    font-weight: 300;
    text-align: left;
    font-size: 14px;
    font-family: OpenSan, sans-serif;
    letter-spacing: 0.35;
    margin-bottom: 10px;
    color: grey;
}
[dir=ltr] .filterTypes{
    border-top: 1px solid rgba(111,111,111,0.5) !important;
    margin-top: 20px;
    padding-top: 5px;
    text-align: left;
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    color: rgba(39,39,39,0.78);

}
.filterTypes-header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}
.filterTypes-header-title{
    display: flex;
    align-items: center;
    cursor: pointer;

}
.filterOptions{
    height: 30px;
    text-align: left;
    font-family: OpenSan, sans-serif;
    font-size: 15px;
    letter-spacing: 0.2;
    font-style: normal;
    line-height: 0.8;
    color: rgba(60,60,60,0.73);
}
.filterBorders{
    margin-left: 100px;
    margin-right: 100px;
}

.filterInputSlots{
    height: 70px;
    width: 150px;
    margin-right: 20px;
    /*display: flex;*/
    /*float: left;*/
}
.displayFlex{
    display: flex;
}
.filterDateSlots{
    height: 25px;
    width: 150px;
    margin-right: 20px;
    /*float: left;*/
}
.expandingIcon{
    color: rgba(39,39,39,0.74);
    display: inline-block;
}
.filterButtonWrapper{
    display: flex;
    width: 100%;
}
.FilterResetButton{
    height: 35px;
    width: 200px;
    margin-top: 20px;
    background-color: #4f4f4f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    /*margin-left: calc(50% - 100px);*/
    margin-right: 20px;
    text-align: center;
    padding: 3px;
    display: inline-block;
    cursor: pointer;

}

.constsliderStyle{
    position: relative;
    width: 100%;
}
.myColor{
    color: #4f4f4f !important;
}
.boldFont{
    font-weight: bold!important;
}

[dir=ltr] .adminFonts{
    text-align: left;
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;

    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    /*
    width: calc(100% - 250px);
    */
    width: 100%;
    background-color: white;
}
[dir=ltr] .adminFonts2{
    text-align: left;
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;

    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    /*
    width: calc(100% - 250px);
    */
    width: 80%;
    background-color:white;
}

.addPatientBox{
    height: 110px;
    width: 420px;
    /*border: 2px solid rgba(157,157,157,0.38);*/
    border-radius: 3px;
    position: center;
    background-color: rgba(168,168,168,0.32);
    margin-top: 60px;
    padding-top: 30px;

}
.addPatientBoxTitle{
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    margin-bottom: 20px;
    color: black;
}
.addPatientBoxContent{
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;
}
.existingPatientContent{
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;
}


.existingPatientMargins{
    margin-left: 90px;
    margin-right: 90px;
    line-height: 1.5;

}
.phoneArea{
    height: 80px;
    width: 420px;
    margin-top: 100px;
    position: center;

}

.phoneInsertionBox{
    height: 40px;
    width: 300px;
    border: 1px solid rgba(111,111,111,0.5);
    position: center;
}

.ExistingSendButton {
    margin-bottom: 30px;
    background-color: grey;
    left: 43%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: 40px;
}

.bottomSpace{
    height: 70px;
    width: 100%;
}


/*floating box*/
/*.box2 {*/
/*    width: 200px;*/
/*    margin: 50px auto;*/
/*    border: 4px solid #00bfb6;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    font-weight: 900;*/
/*    color: #00bfb6;*/
/*    font-family: arial;*/
/*    position: relative;*/
/*}*/
/*.sb9:before {*/
/*    content: "";*/
/*    width: 0px;*/
/*    height: 0px;*/
/*    position: absolute;*/
/*    border-left: 10px solid transparent;*/
/*    border-right: 10px solid transparent;*/
/*    border-top: 10px solid #00bfb6;*/
/*    border-bottom: 10px solid transparent;*/
/*    right: 50%;*/
/*    bottom: -23px;*/
/*}*/
/*.speech-bubble {*/
/*    position: relative;*/
/*    background: #bd006e;*/
/*    border-radius: 1px;*/
/*}*/

/*.speech-bubble:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 50%;*/
/*    width: 0;*/
/*    height: 20px;*/
/*    border: 36px solid transparent;*/
/*    border-left-color: #bd006e;*/
/*    border-right: 0;*/
/*    margin-top: -36px;*/
/*    margin-right: -36px;*/
/*}*/

/*end of floating box*/
