.nova-info{
    display: flex;
    position: relative!important;
}
.nova-info-main-container{
position: relative!important;
}
.nova-info-container {
    display: inline-grid;
    height: max-content;
    position: relative!important;

}
[dir=ltr] .nova-info-patients-status-container{
    margin-right: calc(100% - 1100px)!important;
    margin-bottom: 10px;
}
[dir=ltr] .nova-info-devices-status-container{
    margin-bottom: 10px;
    left: 0;
    float: left;
}
[dir=ltr] .nova-info-label{
    font-family: OpenSan, sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: left;
    color: #0575e6;
}
[dir=ltr] .single-nova-info-block{
    height: 150px;
    width: 200px;
    background-color: #f9f9f9;
    display: inline-block;
    border-radius: 10px;
    position: relative!important;
    margin-right: 20px;
    float: left;
}
.single-nova-info-block:hover{
    opacity: 0.7;
    cursor: pointer;
}
.single-nova-info-block-value:hover{
    opacity: 0.7;
    cursor: pointer;
}
.single-nova-info-block-label:hover{
    opacity: 0.7;
    cursor: pointer;
}
[dir=ltr] .single-nova-info-block-value{
    font-family: OpenSan, sans-serif;
    font-size: 55px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    position: relative!important;
    width: 100%;
    float: left;
    margin-top: 35px;
    color: #0575e6;
}
[dir=ltr] .single-nova-info-block-label{
    font-family: OpenSan, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.35px;
    text-align: center;
    position: relative!important;
    width: 100%;
    float: left;
}
