[dir=rtl] .clinical-container{
    position: relative!important;
    width: 100%;
    margin-right: 0px;
}
[dir=rtl] .clinical-inner-container {
    display: inline-grid;
    height: max-content;
    position: relative!important;
    margin-right: 0px;

}

[dir=rtl] .single-clinical-info-block{
    height: 110px;
    width: 188px;
    background-color:white;
    display: inline-block;
    border-radius: 5px;
    position: relative!important;
    margin-left: 12px;
    float: left;
    border: 2px solid rgba(157,157,157,0.38);
}
