[dir=rtl] .adminFonts{
    text-align: right;
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;

    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    /*
    width: calc(100% - 250px);
    */
    width:100%;
    background-color: #f2f2f2;
}
[dir=rtl] .adminFonts2{
    text-align: right;
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: black;

    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    /*
    width: calc(100% - 250px);
    */
    width:82%;
    background-color: #f2f2f2;
}

[dir=rtl] .button5 {
     right: 1px;
     margin-right: 80%;
     background-color: white;
     color: #4f4f4f;
     border: 2px solid gray;
     text-align: center;
     border-radius: 3px;
     width: 200px;
     height: 30px;
 }
[dir=rtl] .button6 {
    margin-bottom: 30px;
    background-color: grey;
    right: 43%;
    color: white;
    font-weight: bold;
    border: 2px solid;
    text-align: center;
    border-radius: 5px;
    width: 180px;
    height: 35px;

}
[dir=rtl] .asayaTitle {
    font-weight: 700;
    font-size: 15px;
    text-align: right;
    font-family: OpenSan, sans-serif;
    letter-spacing: 0.35;
    margin-bottom: 10px;
}


[dir=rtl] .asayaContent {
    font-weight: 300;
    font-size: 15px;
    text-align: right;
    font-family: OpenSan, sans-serif;
    letter-spacing: 0.35;
    margin-bottom: 10px;
    line-height: 1.2;
}

[dir=rtl] .asayaDate{
    font-weight: 300;
    text-align: right;
    font-size: 14px;
    font-family: OpenSan, sans-serif;
    letter-spacing: 0.35;
    margin-bottom: 10px;
    color: grey;
}
[dir=rtl] .filterTypes{
    border-top: 1px solid rgba(111,111,111,0.5) !important;
    margin-top: 20px;
    padding-top: 5px;
    text-align: right;
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    color: rgba(39,39,39,0.78);

}
[dir=rtl] .leftMargin{
    margin-left: 130px;
    margin-right: 30px;

}
[dir=rtl] .buttonBox{
                  width: 57%;
                  height: 40px;
                  margin-bottom: 20px;
              }