.patientTabsMainBox{
    display: flex;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 0px;
    border-bottom: 3px solid rgba(157,157,157,0.8);
}

.patientTabsBoxes{
    text-align: center;
    height: 50px;
    width: 200px;
    border: 2px solid rgba(157,157,157,0.38);
    margin-right: 20px;
}

.patientTabsCurrBox{
    text-align: center;
    height: 50px;
    width: 200px;
    border-bottom: 1px solid white;
    border-right:  3px solid rgba(157,157,157,0.8);
    border-left:  3px solid rgba(157,157,157,0.8);
    border-top:  3px solid rgba(157,157,157,0.8);

    margin-right: 20px;
}

.backBox{
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #e4e6e5;
}

.backBoxRighting{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 10px;
}
.backBoxButton{
    height: 35px;
    width: 140px;
    padding: 2px;
    background-color: #5c5d5c;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: white;
}

.formTitleFont{
    border-bottom: 20px;

    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: bold;
    /*display: flex;*/
    align-items: center;
    cursor: pointer;
    display: block;

}

.inputSlots{
    height: 70px;
    width: 210px;
    margin-right: 20px;
    float: left;

}
.inputSlotsWide{
    height: 80px;
    width: 100%;
    margin-right: 20px;
    display: flex;

}
.addressInputSlots{
    height: 70px;
    width: 100%;
    margin-top: 10px;
}
.input [type=text] {
    height: 40px;
    width: 200px;
    padding: 12px 20px;
    border:  1px solid #929590;
}
.selectBox{
    height: 40px;
    width: 200px;
    border:  1px solid #929590;
    display: block;
}
addressBoxes{
    display: block;
    margin-left: 30px;
}

.boxMargin{
    margin-left: 5px;
    margin-right: 20px;
}

.inputBoxStyle {
    height: 40px;
    width: 200px;
    padding: 12px 20px;
    border-bottom: 1px solid #929590;
    border-top: none;
    border-left: none;
    border-right: none;
}
.formButton{
    height: 35px;
    width: 140px;
    padding: 2px;
    border: 1px solid #929590;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.blankSpace{
    height: 50px;
    width: 100%;
}

.smallLeftMargin{
    margin-left: 5px;
}

.newPrescriptionBoxes1{
    border-top:  2px solid rgba(157,157,157,0.38);
    /*border-bottom:  2px solid rgba(157,157,157,0.38);*/

    height: 75px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px;
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.newPrescriptionBoxes2{
    border-top:  2px solid rgba(157,157,157,0.38);
    /*border-bottom:  2px solid rgba(157,157,157,0.38);*/

    height: 160px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px;
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.newPrescriptionBoxes3{
    border-top:  2px solid rgba(157,157,157,0.38);
    border-bottom:  2px solid rgba(157,157,157,0.38);

    height: 200px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: OpenSan, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

signingBigSlotsWrapper{
    display: block;
}
.signingBigSlots{
    width: 800px;
    height: 110px;
    /*float: left;*/
    margin-right: 15px;
    display: flex;

}

.signingSlots{
    margin-top: 45px;
    border-top:  2px solid rgba(157,157,157,0.5);
    width: 280px;
    text-align: center;
    height: 30px;
    /*float: left;*/
    font-family: OpenSan, sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-right: 55px;

}

.labelStyle{
    font-family: OpenSan, sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.formFont{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-family: OpenSan, sans-serif;
    font-size: 20px;
    /*font-weight: bold;*/
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    color: rgba(39,39,39,0.78);
}
.formButtonsBox{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    position: center;
    margin-left: calc(50% - 260px);;
}

.formButton1{
    height: 40px;
    width: 250px;
    margin-left: 15px;
    background-color: #888a88;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}
.formButton2{
    height: 40px;
    width: 250px;
    margin-left: 20px;
    background-color: #cfd2cf;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    border: none;

}
