.titleBox{
    background-image:  url("../../../src/assets/patientDashboard.png") ;
    width: 100%;
    height: 120px;
    background-color: #0a1d25;
    /*border-radius: 6px;*/
    /*display: flex;
    justify-content: space-between;
    float: left;*/
    padding-right: 20px;
}
.titleBoxExpanded{
    background-image:  url("../../../src/assets/patientDashboard.png") ;
    width: 100%;
    height: 160px;
    background-color: #0a1d25;
    /*border-radius: 6px;*/
    /*display: flex;
    justify-content: space-between;
    float: left;*/
    padding-right: 20px;
}

.dashboardBackButton{
    padding-top: 13px;
    width: 51px;
    height: 24px;
    margin: 0 308px 8px 0;
    font-family: Quicksand-Regular;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.35px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
}

.titleBoxInsideBig{
    width: 1000px;

    margin: 20px 10px 0px 10px;
    height: 40px;
}
.titleBoxInsideBigExpanded{
    width: 100%;
    /*margin: 10px;*/
    height: 40px;
}
.dashboardTitleWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    float: left;
    padding-right: 20px;

}
.titleBoxInside1{
    width: 300px;
    /*margin: 20px;*/
    height: 55px;
    display: inline-block;
    padding: 5px 0px;
}

.titleBoxInside2{
    width: 275px;
    /*margin: 20px;*/
    height: 55px;
    display: inline-block;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 5px 30px;

}

.titleBoxInside3{
    width: 275px;
    /*margin: 20px;*/
    height: 55px;
    display: inline-block;
    padding: 5px 30px;

}

.titleBoxBigFont{
    font-family: Quicksand-Regular;
    font-size: 36px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffffff;
}

.titleBoxSmallFont{
    margin-top: 5px;
    font-family: Quicksand-Regular;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.45px;
    text-align: left;
    color: #ffffff;
}

.titleBoxInsideName{
    width: 240px;
    /*margin: 20px;*/
    height: 25px;
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 22px;
}

.titleBoxInsideExpanded{
    width: 240px;
    /*margin: 20px;*/
    height: 25px;
    display: inline-block;
    margin-left: 20px;
    color: white;
    border-right: 1px solid white;
}
.titleBoxRight{
    width: 186px;
    height: 50px;
    margin: 10px 30px 20px 0px;
    padding: 14px 24px 19px 26px;
    object-fit: contain;
    border-radius: 2px;
    border: solid 1px #ffffff;
    /*background-color: #3b76ed;*/

    color: white;
    /*padding-top: 15px;*/
    cursor: pointer;
}
.treatmentRegimenBox{
    width: 100%;
    height: 250px;
    margin-top: 45px;
    float: left;
}
.patientRegimenTitleBox{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    float: left;
}

.patientRegimenTitleRightBox{
    /*height: 100%;*/
    width: 300px;
    /*display: inline-block;*/
    height: 20px;


}

.regimenHistoryFont{
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
    color: #11b3e7;
    cursor: pointer;

}

.RegimenButton{
    height: 30px;
    width: 200px;
    font-size: 15px;
    border: 2px solid  #11b3e7;
    border-radius: 5px;
    display: inline-block;
    color: #11b3e7;
    padding: 2px 6px;
}

.PersonalDetailsButton{
    height: 30px;
    width: 200px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 2px 6px;
    background-color: #11b3e7;
    margin-left: 35px;
}

.patientInfoFont{
    /*color: #11b3e7;*/
    /*font-weight: bold;*/
    /*font-size: 22px;*/
    cursor: pointer;

    font-family: Quicksand-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: 0.6px;
    color: #0c3646;


}
.treatmentRegimenBoxesBox{
    width: 100%;
    display: flex;
    float: left;
}

.treatmentRegimenBox1{
    margin-top: 15px;
    margin-right: 30px;
    background-color: white;
    border: 2px solid rgba(157,157,157,0.38);
    border-radius: 5px;
    text-align: left;
    height: 150px;
    width: 20%;
    padding: 8px 20px;

    color: #11b3e7;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-left: 1px;


}

.treatmentRegimenBox2{
    margin-top: 15px;
    margin-right: 30px;
    background-color: white;
    border: 2px solid rgba(157,157,157,0.38);
    border-radius: 5px;
    text-align: left;
    height: 150px;
    width: 40%;
    padding: 8px 20px;

    color: #11b3e7;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;

}

.treatmentRegimenBox3{
    margin-top: 15px;
    background-color: white;
    border: 2px solid rgba(157,157,157,0.38);
    border-radius: 5px;
    text-align: left;
    height: 150px;
    width: 40%;
    padding: 8px 20px;


}

.treatmentRegimenBox3TitleWrapper{
    display: flex;
    justify-content: space-between;

}

.treatmentRegimenBox3left{
    color: #11b3e7;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.treatmentRegimenBox3right{
    color: #11b3e7;
    /*font-weight: bold;*/
    font-size: 16px;

}

.PreventiveWrapper{
    display: inline-block;
    float: left;
    margin-right: 130px;
}



.treatmentRegimenNumber{
    font-size: 18px;
    font-weight: 50;
    color: black;

}
.treatmentRegimenValue{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: black;
    margin-bottom: 5px;

}
.AbortivePreventiveMainBox{
    height: 60px;
    width: 500px;
    display: flex;

}
.abortiveClicked{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #11b3e7;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

}

.abortiveNotClicked{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #11b3e7;
    border: 2px solid #11b3e7 ;
    background-color: white;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;


}

.abortiveMainBox{
    width: 100%;
    height: 380px;
    border: 2px solid rgba(157,157,157,0.38);
    margin-bottom: 30px;
    display: flex;
    padding: 30px;
}
.abortiveInsideLeftBoxes{
    width: 24%;
    height: 300px;
    border: 1px solid rgba(157,157,157,0.38);
    display: inline-block;
    margin-right: 25px;
}

.chartBox{
    height: 200px;
    width: 240px;
    margin-left: calc(50% - 120px);
    margin-top: 10px;

}

.chartFontPos{
    color: limegreen;
    /*font-weight: bold;*/
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    /*text-decoration: underline;*/
}

.chartFontNeg{
    color: red;
    /*font-weight: bold;*/
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    /*text-decoration: underline;*/
}

.abortiveInsideRightBox{
    width: 50%;
    height: 300px;
    border: 1px solid rgba(157,157,157,0.38);
    display: inline-block;
}
.abortiveInsideRightSmallFirstBox{
    width: 48%;
    height: 300px;
    /*border-right: 1px solid rgba(157,157,157,0.38);*/
    display: inline-block;
    margin-right: 25px;
}

.abortiveInsideRightSmallSecondBox{
    width: 48%;
    height: 300px;
    /*border: 1px solid rgba(157,157,157,0.38);*/
    display: inline-block;
}

.abortiveBoxesTitle{
    color: #11b3e7;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.ProgressbarBox{
    /*margin-left: 25px;*/
    /*width: 300px;*/
    /*padding: 20px 5% 20px 30%;*/
    height: 170px;
    width: 170px;
    margin-left: calc(50% - 85px);
    margin-top: 20px;

}
.abortiveDivider{
    height: 210px;
    width: 1px;
    border-left: 2px solid rgba(157,157,157,0.38);
    /*margin-top: 30px;*/
    display: inline-block;
}

.ProgressbarFont{
    color: #11b3e7;
    /*font-weight: bold;*/
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;

}

.relivionBox{
    background-color: #11b3e7;
    width: 100%;
    height: 65px;
    border-radius: 6px;
    display: flex;
    float: left;
    padding: 7px 30px;
    margin-bottom: 40px;
    margin-top: 8px;
}
.relivionBoxInside{
    width: 360px;
    /*margin: 20px;*/
    height: 25px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 5px;

    color: white;
    /*border-right: 1px solid white;*/
    text-align: left;
    font-weight: 500;

}

.statisticsMainBox{
    padding-top: 50px;
    height: 60px;
    width: 100%;
    display: flex;
    margin-left: calc(50% - 380px);


}

.StatisticsClicked{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: #11b3e7;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

}

.StatisticsNotClicked{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: #11b3e7;
    border: 2px solid #11b3e7 ;
    background-color: white;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

}

.StatisticsTabMainBox{
    width: 100%;
    height: 300px;
    /*border: 2px solid rgba(157,157,157,0.38);*/
    margin-bottom: 30px;
    margin-top: 50px;
}

.patientStatisticsTabOuterBox{
    width: 100%;
    height: 320px;
    display: flex;
    margin-bottom: 50px;


}

.patientStatisticsTabInnerBox{
    display: inline-block;
    width: 49%;
    margin-right: 50px;
    border: 2px solid rgba(157,157,157,0.38);

}
.patientStatisticsTabInnerBoxRight{
    display: inline-block;
    width: 49%;
    border: 2px solid rgba(157,157,157,0.38);

}
.patientStatisticsTitle{
    color: #11b3e7;
    /*font-weight: bold;*/
    font-size: 22px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    /*margin-bottom: 10px;*/
}
.patientStatisticsGraphBox{
    margin: 10px calc(50% - 200px);


}