.form-numericUpDown{
    position: relative;
    width: 250px;
}
.nova-form-numericUpDown{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center!important;
    font-family: OpenSan, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.45px;
    color: #0575e6;
}
.eye-swift-numericUpDown-button{
    position: absolute!important;
    top: 2.5px!important;
    height: 35px!important;
    width: 45px!important;

}
[dir=ltr] .form-numericUpDown .eye-swift-numericUpDown-plus-form-button {
    right: 4px!important;
}
[dir=ltr] .form-numericUpDown .eye-swift-numericUpDown-minus-form-button {
    left: 4px!important;
}
.button-label{
    height: 15px;
    font-family: OpenSan, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.6;
    letter-spacing: 0.75px;
    text-align: center;
    color: var(--white);
}
.minus-button{
    margin-top: -4px!important;
}

